html {
    height: 100%;
    width: 100%;
}

body{
    /*font-family:'Times New Roman', Times, serif;*/
    /*font-family:'Open Sans', sans-serif;*/
    font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

/*----------------------------------------Page loader-----------------------------------------*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    color: #6A8D9D;
    background-color: #1a1b23;
	background: url(../images/page-loader3.gif) center no-repeat #fff;
}

/*----------------------------------------Home-----------------------------------------*/

.website-home-page{
    overflow:hidden;
}

.background-image-home{
    display: block;
    /*position: absolute;*/
    background-color: #D3D3D3;
    background-image: url('../images/myImageHome5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height:  100vh;
    z-index: 50;
    text-align:center; 
    padding:30% 10% 0% 5% ; 
    position:relative;
    color:white;
}

.icon{
    color:white;
    text-decoration: none;
}



/*-------------------------------------------Menu--------------------------------------*/
.menu{
    /*height: 100vh;*/
    /*background-color: green;*/
    z-index: 0;
}

.background-image-profile {
    display: block;
    background-color: #D3D3D3;
    background-image: url('../images/profile.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 25vh;
    z-index: 0;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;

}

.background-image-profile:hover {  
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

/*.no-zoomin{
    -webkit-text-size-adjust:none;
-ms-text-size-adjust:none;
-moz-text-size-adjust:none;
text-size-adjust:none;
}*/

.background-image-resume {
    display: block;
    background-color: #D3D3D3;
    background-image: url('../images/resume.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 25vh;
    z-index: 0;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
}

.background-image-resume:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.background-image-portfolio {
    display: block;
    background-color: #D3D3D3;
    background-image: url('../images/portfolio.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 25vh;
    z-index: 0;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
}

.background-image-portfolio:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}


.background-image-contact {
    display: block;
    background-color: #D3D3D3;
    background-image: url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 25vh;
    z-index: 0;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
}


.background-image-contact:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.menu .background-image-profile a{
    background: rgba(256, 256, 256, 0.2);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: auto auto 10px;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);
    width: 60px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu .background-image-resume a{
    background: rgba(256, 256, 256, 0.2);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: auto auto 10px;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);
    width: 60px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu .background-image-portfolio a{
    background: rgba(256, 256, 256, 0.2);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: auto auto 10px;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);
    width: 60px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu .background-image-contact a{
    background: rgba(256, 256, 256, 0.2);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: auto auto 10px;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);
    width: 60px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/*----------------------------------------Profile Page-------------------------------------------------*/

.background-image-profile-page {   
    background-image: url('../images/profilePage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    z-index: 0;   
    overflow:hidden;
    color:white;
}

.my_image-profile-page{
    background-image: url('../images/myProfilePic1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 220px;
    height: 300px;
    /*margin-top: 100px;*/
    margin-left: 24%;
}

#profile-content{
    background-color: #f5f5f5;
    overflow-y: scroll;
    height: 100vh;
}

#profile-description{
    color: #343333 !important;
    text-align: justify;
    padding-right: 13%;
    padding-left:7%;
    font-size: 90%;
    
}

#view-resume{
    color: #6A8D9D; 
    border: 1px solid #6A8D9D; 
    border-radius: 0;
}

#view-resume:hover{
    color: #fff; 
    border: 1px solid #6A8D9D; 
    background-color: #6A8D9D;
}

/*----------------------------------------Resume Page-------------------------------------------------*/
.background-image-resume-page {
    background-image: url('../images/resumePage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    color:white;
}

#resume-content{
    background-color: #f5f5f5;
    overflow-y: scroll;
    height: 100vh;
}

.title_box_education{
    background: #6A8D9D;
    color: #fff;
    margin: 0;
    padding: 8px;
    display: block;
    margin-left: 10px;
    position: relative;
}

.title_box_experience{
    background: #fff;
    color: #6A8D9D;
    margin: 0;
    display: block;
    padding: 8px;
    margin-right: 10px;
    position: relative;
    font-weight: 500;
}

.skills h6{
    text-align:center;
}

.exp-roles ul{
    color: #fff; 
    text-align:justify;
    font-size: 15px;
    line-height: 1.5; 
    padding-left:20px; 
    padding-right: 14px;
}

.edu-des{
   color: #343333; 
   text-align:justify;
    font-size: 15px;
    line-height: 1.5; 
    padding-left:12px; 
}

/*----------------------------------------Portfolio Page-------------------------------------------------*/
.background-image-portfolio-page {
    background-image: url('../images/portfolioPage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow:hidden;
    color:white;

}

#portfolio-content{
    background-color: #f5f5f5;
    overflow-y: scroll;
    height: 100vh;
}


.project-img-mask {
   width: 100%;
   height: 220px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   opacity: 0;
   overflow:visible;
   border:5px solid rgba(0,0,0,0.9);
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
}

.project-img-mask:hover {
   opacity: 1;
   border:100px solid rgba(0,0,0,0.7);
}

.project-img-mask:hover a.pro-details {
   opacity:1;
   transition-delay: 0.3s;
}

.project-img-mask:hover a.pro-github {
   opacity:1;
   transition-delay: 0.3s;
}

.projects_popup {
  padding: 2vmin;
  background: #fff;
  border: #6A8D9D;
  border-width: thin;
  width: 30%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  color: #333;
}



.projects_popup img {
    width: 100%;
    height:300px;
}

.well {
	border-color:#eee;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.item h4 a {
  color: #333;
}

.item img.image {
  max-width: 100%;
  margin-top: 9px;
}

.info {
	padding:4px;
}

.img-responsive{
    width: 100%;
    height: 220px
}


.projects-division{
    color: #6A8D9D; 
    border: 1px solid #6A8D9D; 
    border-radius: 0;
    font-size:14px;
    padding: 1.5%;
}

.projects-division:hover{
    color: #fff; 
    border: 1px solid #6A8D9D; 
    background-color: #6A8D9D;
}


/*----------------------------------------Contact Page-------------------------------------------------*/
.background-image-contact-page {
    background-image: url('../images/contactPage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow:hidden;
    color:white;
}


#contact-content{
    background-color: #f5f5f5;
    overflow-y: scroll;
    height: 100vh;
}

.contact-form{
    margin-right: 10%;
    margin-left: 10%;
}

.contact-form input{
    background: none;
    border-radius: 2px;
    border: 1px solid #6A8D9D;
    color: #6A8D9D;
}

.contact-form input:focus{
    background: none;
    border-radius: 2px;
    border: 1px solid #6A8D9D;
    color: #6A8D9D;
    box-shadow: 0 0 5px #6A8D9D;
    border: 1px solid #6A8D9D;   
}

.contact-form textarea{
    background: none;
    border-radius: 2px;
    border: 1px solid #6A8D9D;
    color: #6A8D9D;
}

.contact-form textarea:focus{
    background: none;
    border-radius: 2px;
    border: 1px solid #6A8D9D;
    color: #6A8D9D;
    box-shadow: 0 0 5px #6A8D9D;
    border: 1px solid #6A8D9D;   
} 

.contact-form button{
    background: none;
    border-radius: 2px;
    border: 1px solid #6A8D9D;
    color: #6A8D9D;
    margin: 10px 0;
    padding: 10px 25px;
    text-align: center;
}


.contact-form button:hover{
    background: #6A8D9D;
    border-radius: 2px;
    border: 1px solid #6A8D9D;
    color: white;
    margin: 10px 0;
    padding: 10px 25px;
    text-align: center;
}

.contact-form button:focus{
    box-shadow: 0 0 5px #6A8D9D;
    border: 1px solid #6A8D9D;   
} 

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.contact-accounts a span{
    background: black;
    border-radius: 50%;
    color: white;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);
    width: 60px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

form .error {
  color: #ff0000;
}

/*----------------------------------------Cancel button-------------------------------------------------*/
.cancel-btn {
    display: block;
    background-color: #f5f5f5;
    background-image: url('../images/cancel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 3%;
    top: 30px;
    float: right;
}

    


/*----------------------------------------Footer-------------------------------------------------*/

.footer {
  background-color: #6A8D9D;
  right:0;
  bottom: 0;
  left:0;
  padding: 0.5rem;
  color: #fff;
}



/*------------------------Resume page skills circular percentage bar easy pie chart starts here-------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.chart {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.percentage,
.label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.credits {
    padding-top: 0.5em;
    clear: both;
    color: #999;
}

.credits a {
    color: #333;
}

.dark {
    background: #333;
}

.dark .percentage-light,
.dark .label {
    text-align: center;
    color: #999;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 0.3em;
}


.button {
  -webkit-box-shadow: inset 0 0 1px #000, inset 0 1px 0 1px rgba(255,255,255,0.2), 0 1px 1px -1px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 0 1px #000, inset 0 1px 0 1px rgba(255,255,255,0.2), 0 1px 1px -1px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 1px #000, inset 0 1px 0 1px rgba(255,255,255,0.2), 0 1px 1px -1px rgba(0, 0, 0, .5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 2em;
  max-width: 200px;
  text-align: center;
  background-color: #5c5c5c;
  background-image: -moz-linear-gradient(top, #666666, #4d4d4d);
  background-image: -ms-linear-gradient(top, #666666, #4d4d4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#4d4d4d));
  background-image: -webkit-linear-gradient(top, #666666, #4d4d4d);
  background-image: -o-linear-gradient(top, #666666, #4d4d4d);
  background-image: linear-gradient(top, #666666, #4d4d4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#4d4d4d', GradientType=0);
  color: #ffffff;
  text-shadow: 0 1px 1px #333333;
}
.button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #616161;
  background-image: -moz-linear-gradient(top, #6b6b6b, #525252);
  background-image: -ms-linear-gradient(top, #6b6b6b, #525252);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6b6b6b), to(#525252));
  background-image: -webkit-linear-gradient(top, #6b6b6b, #525252);
  background-image: -o-linear-gradient(top, #6b6b6b, #525252);
  background-image: linear-gradient(top, #6b6b6b, #525252);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b6b6b', endColorstr='#525252', GradientType=0);
}
.button:active {
  background-color: #575757;
  background-image: -moz-linear-gradient(top, #616161, #474747);
  background-image: -ms-linear-gradient(top, #616161, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#616161), to(#474747));
  background-image: -webkit-linear-gradient(top, #616161, #474747);
  background-image: -o-linear-gradient(top, #616161, #474747);
  background-image: linear-gradient(top, #616161, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#474747', GradientType=0);
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  -o-transform: translate(0, 1px);
  transform: translate(0, 1px);
}
.button:disabled {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(top, #e7e7e7, #cdcdcd);
  background-image: -ms-linear-gradient(top, #e7e7e7, #cdcdcd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7e7e7), to(#cdcdcd));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #cdcdcd);
  background-image: -o-linear-gradient(top, #e7e7e7, #cdcdcd);
  background-image: linear-gradient(top, #e7e7e7, #cdcdcd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cdcdcd', GradientType=0);
  color: #939393;
  text-shadow: 0 1px 1px #fff;
}

/*------------------------Resume page skills circular percentage bar easy pie chart ends here-------------*/





